html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.background-image{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text{
    color: #fff;
    text-align: center;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 500;
}

.hero-text p{
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
}

.hero-btn{
    text-decoration: none;
    color: #fff;
    background: #87CF3E;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.hero-btn:hover{
    background: white;
    color: black;
}

.logo{
    cursor: pointer;
    width: 145px;
    height: 76px;
    position: absolute;
    top: 5px;
    left: 5%;
}


/*CSS for Navbar: Start*/
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 90px;
    z-index: 1;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 5%;
    margin-left: 15%;
}

.nav li a {
    transition: all 0.3s ease 0s;
}

.nav li a:hover {
    color: white;
    background-color: #87CF3E;
    border-radius: 50px;
    padding: 9px 25px;
}


a{
    margin: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
/*CSS for Navbar: End*/


.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover{
    width: 200px;
}

.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #0A66C2;
}

.wrapper .button:nth-child(2):hover .icon{
    background: #AE378B;
}

.wrapper .button:nth-child(3):hover .icon{
    background: #03A7F2;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover span{
    color: #0A66C2;
}

.wrapper .button:nth-child(2):hover span{
    color: #AE378B;
}
.wrapper .button:nth-child(3):hover span{
    color: #03A7F2;
}


/*About me*/
.about-me-container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: 20px auto auto auto;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #0b0b0b;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: underline;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}


/*CSS for skills section*/
.skills-container{
    width: auto;
    height: auto;
    padding: 30px 30px;
    background: #90ee90;
}

.skillset{
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    overflow: hidden;
}

.front-end{
    width: 350px;
    height: 661px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.front-end i{
    font-size: 30px;
}

.front-end h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.front-end p{
    text-align: left;
}

.front-end h3{
    text-align: left;
}

.front-end ul{
    text-align: left;
}

.front-end ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 10px;
}

.back-end{
    width: 350px;
    height: 661px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.back-end i{
    font-size: 30px;
    color: black;
}

.back-end h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.back-end p{
    text-align: left;
}

.back-end h3{
    text-align: left;
}

.back-end ul{
    text-align: left;
}

.back-end ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 10px;
}

.mobile{
    width: 350px;
    height: 661px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.mobile i{
    font-size: 30px;
    color: black;
}

.mobile h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.mobile p{
    text-align: left;
}

.mobile h3{
    text-align: left;
}

.mobile ul{
    text-align: left;
}

.mobile ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 10px;
}

.other{
    width: 350px;
    height: 661px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.other i{
    font-size: 30px;
    color: black;
}

.other h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.other p{
    text-align: left;
}

.other h3{
    text-align: left;
}

.other ul{
    text-align: left;
}

.other ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 10px;
}

/*CSS for progress bar in skills section*/
.bar{
    background: #a7a7a7;
    display: block;
    height: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #0b0b0b;
}

.bar span{
    height: 2px;
    float: left;
    background: #fdfffd;
}

.html-bar{
    width: 90%;
    animation: html-bar 2s;
}

@keyframes html-bar {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

.css-bar{
    width: 90%;
    animation: css-bar 2s;
}

@keyframes css-bar {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

.js-bar{
    width: 80%;
    animation: js-bar 2s;
}

@keyframes js-bar {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.angular-bar{
    width: 70%;
    animation: angular-bar 2s;
}

@keyframes angular-bar {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.react-bar{
    width: 70%;
    animation: react-bar 2s;
}

@keyframes react-bar {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.node-bar{
    width: 60%;
    animation: node-bar 2s;
}

@keyframes node-bar {
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}

.java-bar{
    width: 95%;
    animation: java-bar 2s;
}

@keyframes java-bar {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}

.python-bar{
    width: 90%;
    animation: python-bar 2s;
}

@keyframes python-bar {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

.php-bar{
    width: 75%;
    animation: php-bar 2s;
}

@keyframes php-bar {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}

.c-bar{
    width: 70%;
    animation: c-bar 2s;
}

@keyframes c-bar {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.c-sharp-bar{
    width: 50%;
    animation: c-sharp-bar 2s;
}

@keyframes c-sharp-bar {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

.net-bar{
    width: 50%;
    animation: net-bar 2s;
}

@keyframes net-bar {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

.kotlin-bar{
    width: 55%;
    animation: kotlin-bar 2s;
}

@keyframes kotlin-bar {
    0%{
        width: 0;
    }
    100%{
        width: 55%;
    }
}

.obj-c-bar{
    width: 40%;
    animation: obj-c-bar 2s;
}

@keyframes obj-c-bar {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

.terminal-bar{
    width: 80%;
    animation: terminal-bar 2s;
}

@keyframes terminal-bar {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.ssh-bar{
    width: 70%;
    animation: ssh-bar 2s;
}

@keyframes ssh-bar {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.git-bar{
    width: 90%;
    animation: git-bar 2s;
}

@keyframes git-bar {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

.github-bar{
    width: 90%;
    animation: github-bar 2s;
}

@keyframes github-bar {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

.sql-bar{
    width: 75%;
    animation: sql-bar 2s;
}

@keyframes sql-bar {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}


/*CSS for Projects section*/
.projects-container{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects{
    width: 50%;
    padding: 30px;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.project-box{
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
}

.project-img{
    width: auto;
    display: flex;
    padding: 10px;
}

.project-img img{
    width: 400px;
    height: 230px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.project-main{
    float: left;
}

.project-main h3{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

.project-main p{
    margin-bottom: 30px;
}

.project-main a{
    margin: 20px;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

.project-main a:hover {
    color: white;
    background-color: #87CF3E;
    border: none;
}

.project-main a {
    transition: all 0.3s ease 0s;
}




